# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Gradle
#------
.gradle
/build
/buildSrc/build
.version
build
out

#IDEA
#----
.idea
.shelf
/*.iml
/*.ipr
/*.iws
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/out
/out
/subprojects/*/*.iml
/subprojects/*/out
/.teamcity/*.iml
/.teamcity/target

#VSCode
#----
.project
.classpath
.settings
*/bin/
.vscode

#Logging
#----
/*.log
/*.gz

#Scripts
#----
.temp
terraform-module-*